Import required packages

In [19]:
import numpy as np
import pandas as pd

Collect the feature names and the output name

In [20]:
features = []
output = ''

with open('adult.names') as infile:
    info = infile.readlines()
    output = info[94]
    for line in info[96:]:
        words = line.split()
        features.append(words[0])
        
        
for i in range(len(features)):
    features[i] = features[i][:-1]
        
print("Feature names:\n", features, '\n')
print("Output name:\n", output)

Feature names:
 ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']

Output name:
 >50K, <=50K.

Read the data from file

In [21]:
df = pd.read_csv('adult.data')
df.columns = features + [output]

In [22]:
df.describe()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,">50K, <=50K.\n"
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K