Import required packages

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Collect the feature names and the output name

In [ ]:
features = []
output = ''

with open('adult.names') as infile:
    info = infile.readlines()
    output = info[94][:-2]
    for line in info[96:]:
        words = line.split()
        features.append(words[0])
        
        
for i in range(len(features)):
    features[i] = features[i][:-1]
        
print("Feature names:\n", features, '\n')
print("Output name:\n", output)

Read the data from file

In [ ]:
df = pd.read_csv('adult.data')
df.columns = features + [output]


### Problem 1. Table


| Continuous (N = 32560) |  Mean (SD) |  Median (IQR) |  Min to Max |
|---|---|---|---|
|  Age (years) | 30.6 (13.6)  | 37 (28-48)  |  17-90 |
| Education number (years)  | 10.1 (2.6)  |  10 (9-12)  | 1-16  |
|  Capital gain<sup>a</sup> | 1077.6 (7385.4)  |  0 (0-0) | 0-99999  |
|  Capital loss<sup>a</sup> | 87.3 (403.0) | 0 (0-0)  |  0-4356 |
| Hours per week   | 40.4 (12.3)  | 40 (40-45)  |  1-99 |


<p style="text-align: center;">SD: standard deviation; IQR: interquartile range; Min: minimum; Max: maximum</p>

<p style="text-align: center;"><sup>a</sup>Presumably measured in USD</p>


<p style="text-align: center;"><sup>b</sup>Percentages do not necessarily add up to 1 due to missing values </p>

| Categorical | N/32560 (%<sup>b</sup>)  |
|---|---|
|  **Work** |   |
| Private  | 22696 (69.7) |
|  Self-employed, not inc. | 2541 (7.8) |
|  Self-employed, inc. |  1116 (3.4)|
| Federal government  |  960 (2.9)|
| Local government  |  2093 (6.4)|
|  State government |  1297 (4.0)|
|  Without pay |  14 (0.0)|
| Never worked  |  7 (0.0)|
| | |
|  **Education** |   |
|Bachelors |5354 (16.4) |
|Some college |7291 (22.4)|
|11th grade | 1175 (3.6)|
|High school | 10501 (32.3)|
| Professional school|576 (1.8)|
|Assoc-acdm |1067 (3.3) |
|Assoc-voc | 1382 (4.2)|
|9th grade |514 (1.6)|
|7th-8th grade | 646 (2.0)|
|12th grade |433 (1.3)|
|Masters | 1723 (5.3)|
| 1st-4th grade| 168 (0.5)|
| 10th grade| 933 (2.9)|
|Doctorate | 413 (1.3)|
|5th-6th grade |333 (1.0)|
|Preschool |51 (0.2)|
| | |
|**Marital status** | |
|Married-civ-spouse | 14976 (46.0)|
|Divorced |4443 (13.6)|
|Never-married |10682 (32.8)|
| Separated|1025 (3.1)|
|Widowed | 993 (3.0)|
|Married-spouse-absent |418 (1.3)|
|Married-AF-spouse |23 (0.1)|
| | |
| **Relationship**| |
|Wife |1568 (4.8)|
| Own-child|5068 (15.6)|
|Husband | 13193 (40.5)|
|Not in family |8304 (25.5)|
| Other relative| 981 (3.0)|
| Unmarried|3446 (10.6)|
| | |
|**Occupation** | |
|Tech-support |928 (2.3)|
| Craft-repair| 4099 (12.6)|
|Other-service |3295 (10.1)|
| Sales| 3650 (11.2)|
| Exec-managerial| 4066 (12.5)|
|Prof-specialty |4140 (12.7)|
|Handlers-cleaners |1370 (4.2)|
|Machine-op-inspct | 2002 (6.1)|
|Adm-clerical | 3769 (11.6)|
|Farming-fishing |994 (3.0)|
|Transport-moving |1597 (4.9)|
| Priv-house-serv|149 (0.5)|
|Protective-serv |649 (2.0)|
| Armed-Forces|9 (0.0)|
| | |
|**Race** | |
|White |27815 (85.4) |
| Asian Pacific islander|1039 (3.2)|
| American Indian eskimo| 311 (1.0)|
| Other|271 (0.8)|
|Black |3124 (9.6)|
| | |
| **Sex**| |
| Female|10771 (33.1)|
| Male| 21789 (66.9)|
| | |
| **Native country**| |
| United-States|29169 (89.6)|
|Cambodia | 19 (0.1)|
|England | 90 (0.3)|
|Puerto Rico | 114 (0.4)|
|Canada |121 (0.4)|
| Germany| 137 (0.4)|
|Outlying-US (Guam, USVI, etc.) |14 (0.0)|
| India| 100 (0.3)|
| Japan| 62 (0.2)|
|Greece |29 (0.1)|
| South|80 (0.2)|
| China| 75 (0.2)|
| Cuba| 95 (0.3)|
|Iran|43 (0.1)|
| Honduras|13 (0.0)|
| Philippines|198 (0.6)|
|Italy | 73 (0.2)|
|Poland | 60 (0.2)|
|Jamaica |81 (0.2)|
| Vietnam|67 (0.2)|
| Mexico| 643 (2.0)|
|Portugal |37 (0.1)|
|Ireland |24 (0.1)|
| France|29 (0.1)|
|Dominican Republic |70 (0.2)|
|Laos |18 (0.1)|
|Ecuador |28 (0.1)|
|Taiwan |51 (0.2)|
|Haiti | 44 (0.1)|
| Columbia| 59 (0.2)|
|Hungary |13 (0.0)|
|Guatemala |64 (0.2)|
|Nicaragua | 34 (0.1)|
|Scotland |12 (0.0)|
| Thailand|18 (0.1)|
|Yugoslavia |16 (0.0)|
|El-Salvador |106 (0.3)|
|Trinadad & Tobago |19 (0.1)|
|Peru |31 (0.1)|
|Hong |20 (0.1)|
| Netherlands|1 (0.0)|
| | |
|**Income** | |
|\>50k |7841 (24.1)|
|<=50k | 24719 (75.9)|

### Problem 2. Bad Figures

In [ ]:
#sns.set()
#sns.scatterplot(data=df, x='age', y='hours-per-week', hue='sex')
#plt.show()

In [ ]:
sns.lineplot(data=df, x='age', y='hours-per-week', hue='sex')
plt.show()