Name: Erik Alexander Sandvik <br />
Course: STK-IN4300 <br />
Assignment number: 2 <br />

Import required packages

In [31]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Problem 1. Regression

1.

In [32]:
names = ['TPSA', 'SAacc', 'H050', 'MLOGP', 'RDCHI', 'GATS1p', 'nN', 'C040', 'LC50']

df = pd.read_csv("qsar_aquatic_toxicity.csv", sep=";")
df.columns = names

X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [34]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

reg.fit(X_train, y_train)

y_predict_train = reg.predict(X_train)
y_predict_test = reg.predict(X_test)

from sklearn.metrics import mean_squared_error as MSE


print('Training error: {:.2f}'.format(MSE(y_train, y_predict_train)))
print('Test error: {:.2f}'.format(MSE(y_test, y_predict_test)))

Training error: 1.20
Test error: 1.92

In [35]:
count_variables = ['H050', 'nN', 'C040']

for cnt_var in count_variables:
    X.loc[X[cnt_var] > 0] = 1
    
X.head()

     TPSA    SAacc  H050  MLOGP  RDCHI  GATS1p  nN  C040
0    0.00    0.000     0  2.638  1.401   0.632   0     0
1    9.23   11.000     0  5.799  2.930   0.486   0     0
2    9.23   11.000     0  5.453  2.887   0.495   0     0
3    9.23   11.000     0  4.068  2.758   0.695   0     0
4  215.34  327.629     3  0.189  4.677   1.333   0     4